body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: auto;
    box-sizing: border-box;
    max-width: 320px auto;
    height: 100vh auto;
}
.gridcont-a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(280px ,auto);
}
.gridcont-c{
    font-size: 43px;
    margin: auto;

}