body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: auto;
    box-sizing: border-box;
    max-width: 320px auto;
    height: 100vh auto;
}
.gridcont-a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(280px ,auto);
}
.gridcont-c{
    font-size: 36px;
    margin: auto;
}

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.container {
  display: grid;
  grid-gap: 20px;
}
.boxes {
  display: grid; grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  color: var(--light);
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

@media(max-width:530px){
    .gridcont-a{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(280px ,auto);
    }
}